@model MvcApplication1.Model.AdminLogin

@{
    ViewBag.Title = "Adminlogin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm("LoginAdmin","Home",FormMethod.Post)) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="center-block">

        <div class="center-content-grid" >
          
            
              <fieldset>
                <legend>AdminLogin</legend>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Email)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Email)
                </div>

                <div class="editor-label">
                    @Html.LabelFor(model => model.Password)
                </div>
                <div class="editor-field">
                    @Html.EditorFor(model => model.Password)
                    @Html.ValidationMessageFor(model => model.Password)
                </div>

                <p>
                    <input type="submit" value="Login" />
                </p>
            </fieldset>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
